LaserFicheConnectorTest/LaserFicheConnectorTest/Web References/LFDocumentManagementConnector/LSDocumentManagementConnector.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mccinnovations.com/LSDMCWebService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mccinnovations.com/LSDMCWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mccinnovations.com/LSDMCWebService">
      <s:element name="ValidateCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateCredentialsResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="docId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="remoteUri" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileNameToSave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRepositoryInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetRepositoryInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRepositoryInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntriesFromParent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ParentFolderPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntriesFromParentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntriesFromParentResult" type="tns:ArrayOfEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="tns:Entry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Entry">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentFolder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatorName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LSGetDocumentFromDMOld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSGetDocumentFromDMOldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSGetDocumentFromDMOldResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSGetDocumentFromDM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSGetDocumentFromDMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSGetDocumentFromDMResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSDeleteDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSDeleteDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSDeleteDocumentResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFieldByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="templateFieldName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="docId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="value" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFieldByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateFieldByNameResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTemplateByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="templatedName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="docId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTemplateByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateTemplateByNameResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTemplateByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="templateID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="docId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTemplateByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateTemplateByIDResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFieldByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="templateFieldID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="docId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFieldByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateFieldByIDResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSGetAllFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Field">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataType" type="tns:Field_Type" />
          <s:element minOccurs="0" maxOccurs="1" name="Field_Type_String" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Field_Type">
        <s:restriction base="s:string">
          <s:enumeration value="FIELD_TYPE_UNKNOWN" />
          <s:enumeration value="FIELD_TYPE_STRING" />
          <s:enumeration value="FIELD_TYPE_LIST" />
          <s:enumeration value="FIELD_TYPE_NUMBER" />
          <s:enumeration value="FIELD_TYPE_LONG" />
          <s:enumeration value="FIELD_TYPE_SHORT" />
          <s:enumeration value="FIELD_TYPE_DATE" />
          <s:enumeration value="FIELD_TYPE_DATETIME" />
          <s:enumeration value="FIELD_TYPE_TIME" />
          <s:enumeration value="FIELD_TYPE_BLOB" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="tns:Field" />
        </s:sequence>
      </s:complexType>
      <s:element name="LSGetAllFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSGetAllFieldsResult" type="tns:ArrayOfField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSGetFieldsByTemplateName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="templateName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSGetFieldsByTemplateNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSGetFieldsByTemplateNameResult" type="tns:ArrayOfField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSGetFieldsByTemplateID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSGetFieldsByTemplateIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSGetFieldsByTemplateIDResult" type="tns:ArrayOfField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSGetAllTemplates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Template">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FieldCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TemplateFields" type="tns:ArrayOfField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTemplate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Template" nillable="true" type="tns:Template" />
        </s:sequence>
      </s:complexType>
      <s:element name="LSGetAllTemplatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSGetAllTemplatesResult" type="tns:ArrayOfTemplate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSArchiveMeetingToDMImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agendaFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reportblob" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSArchiveMeetingToDMImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSArchiveMeetingToDMImageResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSArchiveMeetingToDMImageAppend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agendaFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reportblob" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSArchiveMeetingToDMImageAppendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSArchiveMeetingToDMImageAppendResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSArchiveMeetingToDM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agendaFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reportblob" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSArchiveMeetingToDMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSArchiveMeetingToDMResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSArchiveMeetingToDMImage_File">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agendaFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="useConfigPath" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="FolderPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSArchiveMeetingToDMImage_FileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSArchiveMeetingToDMImage_FileResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSArchiveMeetingToDMImageAppend_File">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agendaFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="useConfigPath" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="FolderPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSArchiveMeetingToDMImageAppend_FileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSArchiveMeetingToDMImageAppend_FileResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSArchiveMeetingToDM_File">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agendaFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="useConfigPath" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="FolderPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSArchiveMeetingToDM_FileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSArchiveMeetingToDM_FileResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSDeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="useConfigPath" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="FolderPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSDeleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSDeleteFileResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSUploadFileChunk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agendaFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="Offset" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSUploadFileChunkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSUploadFileChunkResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSImportImagesFromFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agendaFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSImportImagesFromFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSImportImagesFromFileResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSImportImagesFromFileAppend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agendaFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSImportImagesFromFileAppendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSImportImagesFromFileAppendResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSAppendImagesFromFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agendaFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSAppendImagesFromFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSAppendImagesFromFileResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSImportEdocFromFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agendaFilename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSImportEdocFromFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSImportEdocFromFileResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSDocumentLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ParentDoc" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ChildDoc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceRelation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LSDocumentLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LSDocumentLinkResult" type="tns:Message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentExtensionByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentExtensionByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentExtensionByIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentEntryType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentEntryTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentEntryTypeResult" type="tns:Entry" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateCredentials" />
  </wsdl:message>
  <wsdl:message name="ValidateCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetRepositoryInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetRepositoryInfo" />
  </wsdl:message>
  <wsdl:message name="GetRepositoryInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetRepositoryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntriesFromParentSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntriesFromParent" />
  </wsdl:message>
  <wsdl:message name="GetEntriesFromParentSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntriesFromParentResponse" />
  </wsdl:message>
  <wsdl:message name="LSGetDocumentFromDMOldSoapIn">
    <wsdl:part name="parameters" element="tns:LSGetDocumentFromDMOld" />
  </wsdl:message>
  <wsdl:message name="LSGetDocumentFromDMOldSoapOut">
    <wsdl:part name="parameters" element="tns:LSGetDocumentFromDMOldResponse" />
  </wsdl:message>
  <wsdl:message name="LSGetDocumentFromDMSoapIn">
    <wsdl:part name="parameters" element="tns:LSGetDocumentFromDM" />
  </wsdl:message>
  <wsdl:message name="LSGetDocumentFromDMSoapOut">
    <wsdl:part name="parameters" element="tns:LSGetDocumentFromDMResponse" />
  </wsdl:message>
  <wsdl:message name="LSDeleteDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:LSDeleteDocument" />
  </wsdl:message>
  <wsdl:message name="LSDeleteDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:LSDeleteDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFieldByNameSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFieldByName" />
  </wsdl:message>
  <wsdl:message name="UpdateFieldByNameSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFieldByNameResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTemplateByNameSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTemplateByName" />
  </wsdl:message>
  <wsdl:message name="UpdateTemplateByNameSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTemplateByNameResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTemplateByIDSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTemplateByID" />
  </wsdl:message>
  <wsdl:message name="UpdateTemplateByIDSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTemplateByIDResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFieldByIDSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFieldByID" />
  </wsdl:message>
  <wsdl:message name="UpdateFieldByIDSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFieldByIDResponse" />
  </wsdl:message>
  <wsdl:message name="LSGetAllFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:LSGetAllFields" />
  </wsdl:message>
  <wsdl:message name="LSGetAllFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:LSGetAllFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="LSGetFieldsByTemplateNameSoapIn">
    <wsdl:part name="parameters" element="tns:LSGetFieldsByTemplateName" />
  </wsdl:message>
  <wsdl:message name="LSGetFieldsByTemplateNameSoapOut">
    <wsdl:part name="parameters" element="tns:LSGetFieldsByTemplateNameResponse" />
  </wsdl:message>
  <wsdl:message name="LSGetFieldsByTemplateIDSoapIn">
    <wsdl:part name="parameters" element="tns:LSGetFieldsByTemplateID" />
  </wsdl:message>
  <wsdl:message name="LSGetFieldsByTemplateIDSoapOut">
    <wsdl:part name="parameters" element="tns:LSGetFieldsByTemplateIDResponse" />
  </wsdl:message>
  <wsdl:message name="LSGetAllTemplatesSoapIn">
    <wsdl:part name="parameters" element="tns:LSGetAllTemplates" />
  </wsdl:message>
  <wsdl:message name="LSGetAllTemplatesSoapOut">
    <wsdl:part name="parameters" element="tns:LSGetAllTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="LSArchiveMeetingToDMImageSoapIn">
    <wsdl:part name="parameters" element="tns:LSArchiveMeetingToDMImage" />
  </wsdl:message>
  <wsdl:message name="LSArchiveMeetingToDMImageSoapOut">
    <wsdl:part name="parameters" element="tns:LSArchiveMeetingToDMImageResponse" />
  </wsdl:message>
  <wsdl:message name="LSArchiveMeetingToDMImageAppendSoapIn">
    <wsdl:part name="parameters" element="tns:LSArchiveMeetingToDMImageAppend" />
  </wsdl:message>
  <wsdl:message name="LSArchiveMeetingToDMImageAppendSoapOut">
    <wsdl:part name="parameters" element="tns:LSArchiveMeetingToDMImageAppendResponse" />
  </wsdl:message>
  <wsdl:message name="LSArchiveMeetingToDMSoapIn">
    <wsdl:part name="parameters" element="tns:LSArchiveMeetingToDM" />
  </wsdl:message>
  <wsdl:message name="LSArchiveMeetingToDMSoapOut">
    <wsdl:part name="parameters" element="tns:LSArchiveMeetingToDMResponse" />
  </wsdl:message>
  <wsdl:message name="LSArchiveMeetingToDMImage_FileSoapIn">
    <wsdl:part name="parameters" element="tns:LSArchiveMeetingToDMImage_File" />
  </wsdl:message>
  <wsdl:message name="LSArchiveMeetingToDMImage_FileSoapOut">
    <wsdl:part name="parameters" element="tns:LSArchiveMeetingToDMImage_FileResponse" />
  </wsdl:message>
  <wsdl:message name="LSArchiveMeetingToDMImageAppend_FileSoapIn">
    <wsdl:part name="parameters" element="tns:LSArchiveMeetingToDMImageAppend_File" />
  </wsdl:message>
  <wsdl:message name="LSArchiveMeetingToDMImageAppend_FileSoapOut">
    <wsdl:part name="parameters" element="tns:LSArchiveMeetingToDMImageAppend_FileResponse" />
  </wsdl:message>
  <wsdl:message name="LSArchiveMeetingToDM_FileSoapIn">
    <wsdl:part name="parameters" element="tns:LSArchiveMeetingToDM_File" />
  </wsdl:message>
  <wsdl:message name="LSArchiveMeetingToDM_FileSoapOut">
    <wsdl:part name="parameters" element="tns:LSArchiveMeetingToDM_FileResponse" />
  </wsdl:message>
  <wsdl:message name="LSDeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:LSDeleteFile" />
  </wsdl:message>
  <wsdl:message name="LSDeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:LSDeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="LSUploadFileChunkSoapIn">
    <wsdl:part name="parameters" element="tns:LSUploadFileChunk" />
  </wsdl:message>
  <wsdl:message name="LSUploadFileChunkSoapOut">
    <wsdl:part name="parameters" element="tns:LSUploadFileChunkResponse" />
  </wsdl:message>
  <wsdl:message name="LSImportImagesFromFileSoapIn">
    <wsdl:part name="parameters" element="tns:LSImportImagesFromFile" />
  </wsdl:message>
  <wsdl:message name="LSImportImagesFromFileSoapOut">
    <wsdl:part name="parameters" element="tns:LSImportImagesFromFileResponse" />
  </wsdl:message>
  <wsdl:message name="LSImportImagesFromFileAppendSoapIn">
    <wsdl:part name="parameters" element="tns:LSImportImagesFromFileAppend" />
  </wsdl:message>
  <wsdl:message name="LSImportImagesFromFileAppendSoapOut">
    <wsdl:part name="parameters" element="tns:LSImportImagesFromFileAppendResponse" />
  </wsdl:message>
  <wsdl:message name="LSAppendImagesFromFileSoapIn">
    <wsdl:part name="parameters" element="tns:LSAppendImagesFromFile" />
  </wsdl:message>
  <wsdl:message name="LSAppendImagesFromFileSoapOut">
    <wsdl:part name="parameters" element="tns:LSAppendImagesFromFileResponse" />
  </wsdl:message>
  <wsdl:message name="LSImportEdocFromFileSoapIn">
    <wsdl:part name="parameters" element="tns:LSImportEdocFromFile" />
  </wsdl:message>
  <wsdl:message name="LSImportEdocFromFileSoapOut">
    <wsdl:part name="parameters" element="tns:LSImportEdocFromFileResponse" />
  </wsdl:message>
  <wsdl:message name="LSDocumentLinkSoapIn">
    <wsdl:part name="parameters" element="tns:LSDocumentLink" />
  </wsdl:message>
  <wsdl:message name="LSDocumentLinkSoapOut">
    <wsdl:part name="parameters" element="tns:LSDocumentLinkResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentExtensionByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentExtensionByID" />
  </wsdl:message>
  <wsdl:message name="GetDocumentExtensionByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentExtensionByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentEntryTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentEntryType" />
  </wsdl:message>
  <wsdl:message name="GetDocumentEntryTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentEntryTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="LSDocumentManagementConnectorSoap">
    <wsdl:operation name="ValidateCredentials">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Try to login to repository and returns boolean</wsdl:documentation>
      <wsdl:input message="tns:ValidateCredentialsSoapIn" />
      <wsdl:output message="tns:ValidateCredentialsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Try to login to repository and returns boolean</wsdl:documentation>
      <wsdl:input message="tns:DownloadFileSoapIn" />
      <wsdl:output message="tns:DownloadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns configured Server and Repository Name</wsdl:documentation>
      <wsdl:input message="tns:GetRepositoryInfoSoapIn" />
      <wsdl:output message="tns:GetRepositoryInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntriesFromParent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the list of entries under the given ParentFolder.</wsdl:documentation>
      <wsdl:input message="tns:GetEntriesFromParentSoapIn" />
      <wsdl:output message="tns:GetEntriesFromParentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSGetDocumentFromDMOld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the document from the given Laserfiche Path as byte array.</wsdl:documentation>
      <wsdl:input message="tns:LSGetDocumentFromDMOldSoapIn" />
      <wsdl:output message="tns:LSGetDocumentFromDMOldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSGetDocumentFromDM">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the document from the given Laserfiche Path as byte array.</wsdl:documentation>
      <wsdl:input message="tns:LSGetDocumentFromDMSoapIn" />
      <wsdl:output message="tns:LSGetDocumentFromDMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSDeleteDocument">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete the document from Laserfiche.</wsdl:documentation>
      <wsdl:input message="tns:LSDeleteDocumentSoapIn" />
      <wsdl:output message="tns:LSDeleteDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFieldByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates the provided field (by Name).</wsdl:documentation>
      <wsdl:input message="tns:UpdateFieldByNameSoapIn" />
      <wsdl:output message="tns:UpdateFieldByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplateByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates the provided field (by Name).</wsdl:documentation>
      <wsdl:input message="tns:UpdateTemplateByNameSoapIn" />
      <wsdl:output message="tns:UpdateTemplateByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplateByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates the provided field (by Name).</wsdl:documentation>
      <wsdl:input message="tns:UpdateTemplateByIDSoapIn" />
      <wsdl:output message="tns:UpdateTemplateByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFieldByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates the provided field (by Field ID).</wsdl:documentation>
      <wsdl:input message="tns:UpdateFieldByIDSoapIn" />
      <wsdl:output message="tns:UpdateFieldByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSGetAllFields">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all Template Fields in the Repository.</wsdl:documentation>
      <wsdl:input message="tns:LSGetAllFieldsSoapIn" />
      <wsdl:output message="tns:LSGetAllFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSGetFieldsByTemplateName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all Template fields from the current LaserFiche Repository.</wsdl:documentation>
      <wsdl:input message="tns:LSGetFieldsByTemplateNameSoapIn" />
      <wsdl:output message="tns:LSGetFieldsByTemplateNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSGetFieldsByTemplateID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all Template fields from the current LaserFiche Repository.</wsdl:documentation>
      <wsdl:input message="tns:LSGetFieldsByTemplateIDSoapIn" />
      <wsdl:output message="tns:LSGetFieldsByTemplateIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSGetAllTemplates">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all Template names from the current LaserFiche Repository.</wsdl:documentation>
      <wsdl:input message="tns:LSGetAllTemplatesSoapIn" />
      <wsdl:output message="tns:LSGetAllTemplatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDMImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Archive Legistar Report into LaserFiche (Images)</wsdl:documentation>
      <wsdl:input message="tns:LSArchiveMeetingToDMImageSoapIn" />
      <wsdl:output message="tns:LSArchiveMeetingToDMImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDMImageAppend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Archive Legistar Report into LaserFiche (Images Append)</wsdl:documentation>
      <wsdl:input message="tns:LSArchiveMeetingToDMImageAppendSoapIn" />
      <wsdl:output message="tns:LSArchiveMeetingToDMImageAppendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDM">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Archive Legistar Report into LaserFiche</wsdl:documentation>
      <wsdl:input message="tns:LSArchiveMeetingToDMSoapIn" />
      <wsdl:output message="tns:LSArchiveMeetingToDMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDMImage_File">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Archive Legistar Report into LaserFiche (Images) Using File</wsdl:documentation>
      <wsdl:input message="tns:LSArchiveMeetingToDMImage_FileSoapIn" />
      <wsdl:output message="tns:LSArchiveMeetingToDMImage_FileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDMImageAppend_File">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Archive Legistar Report into LaserFiche (Images Append) Using File</wsdl:documentation>
      <wsdl:input message="tns:LSArchiveMeetingToDMImageAppend_FileSoapIn" />
      <wsdl:output message="tns:LSArchiveMeetingToDMImageAppend_FileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDM_File">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Archive Legistar Report into LaserFiche Using File</wsdl:documentation>
      <wsdl:input message="tns:LSArchiveMeetingToDM_FileSoapIn" />
      <wsdl:output message="tns:LSArchiveMeetingToDM_FileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSDeleteFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Archive Legistar Report into LaserFiche (Images memory stream)</wsdl:documentation>
      <wsdl:input message="tns:LSDeleteFileSoapIn" />
      <wsdl:output message="tns:LSDeleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSUploadFileChunk">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Archive Legistar Report into LaserFiche (Images memory stream)</wsdl:documentation>
      <wsdl:input message="tns:LSUploadFileChunkSoapIn" />
      <wsdl:output message="tns:LSUploadFileChunkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSImportImagesFromFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Archive Legistar Report into LaserFiche (Images)</wsdl:documentation>
      <wsdl:input message="tns:LSImportImagesFromFileSoapIn" />
      <wsdl:output message="tns:LSImportImagesFromFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSImportImagesFromFileAppend">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Archive Legistar Report into LaserFiche (Images)</wsdl:documentation>
      <wsdl:input message="tns:LSImportImagesFromFileAppendSoapIn" />
      <wsdl:output message="tns:LSImportImagesFromFileAppendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSAppendImagesFromFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Archive Legistar Report into LaserFiche (Images)</wsdl:documentation>
      <wsdl:input message="tns:LSAppendImagesFromFileSoapIn" />
      <wsdl:output message="tns:LSAppendImagesFromFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSImportEdocFromFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Archive Legistar Report into LaserFiche (Images)</wsdl:documentation>
      <wsdl:input message="tns:LSImportEdocFromFileSoapIn" />
      <wsdl:output message="tns:LSImportEdocFromFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LSDocumentLink">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Link Documents within LaserFiche</wsdl:documentation>
      <wsdl:input message="tns:LSDocumentLinkSoapIn" />
      <wsdl:output message="tns:LSDocumentLinkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentExtensionByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the document Entry Extension from the given Laserfiche ID.</wsdl:documentation>
      <wsdl:input message="tns:GetDocumentExtensionByIDSoapIn" />
      <wsdl:output message="tns:GetDocumentExtensionByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentEntryTypeByPath">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the document EntryType info from the given Laserfiche Path.</wsdl:documentation>
      <wsdl:input name="GetDocumentEntryType" message="tns:GetDocumentEntryTypeSoapIn" />
      <wsdl:output name="GetDocumentEntryType" message="tns:GetDocumentEntryTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LSDocumentManagementConnectorSoap" type="tns:LSDocumentManagementConnectorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateCredentials">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/ValidateCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryInfo">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/GetRepositoryInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntriesFromParent">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/GetEntriesFromParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSGetDocumentFromDMOld">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSGetDocumentFromDMOld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSGetDocumentFromDM">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSGetDocumentFromDM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSDeleteDocument">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSDeleteDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFieldByName">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/UpdateFieldByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplateByName">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/UpdateTemplateByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplateByID">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/UpdateTemplateByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFieldByID">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/UpdateFieldByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSGetAllFields">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSGetAllFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSGetFieldsByTemplateName">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSGetFieldsByTemplateName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSGetFieldsByTemplateID">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSGetFieldsByTemplateID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSGetAllTemplates">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSGetAllTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDMImage">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSArchiveMeetingToDMImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDMImageAppend">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSArchiveMeetingToDMImageAppend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDM">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSArchiveMeetingToDM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDMImage_File">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSArchiveMeetingToDMImage_File" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDMImageAppend_File">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSArchiveMeetingToDMImageAppend_File" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDM_File">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSArchiveMeetingToDM_File" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSDeleteFile">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSDeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSUploadFileChunk">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSUploadFileChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSImportImagesFromFile">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSImportImagesFromFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSImportImagesFromFileAppend">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSImportImagesFromFileAppend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSAppendImagesFromFile">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSAppendImagesFromFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSImportEdocFromFile">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSImportEdocFromFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSDocumentLink">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSDocumentLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentExtensionByID">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/GetDocumentExtensionByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentEntryTypeByPath">
      <soap:operation soapAction="http://mccinnovations.com/LSDMCWebService/GetDocumentEntryType" style="document" />
      <wsdl:input name="GetDocumentEntryType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDocumentEntryType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LSDocumentManagementConnectorSoap12" type="tns:LSDocumentManagementConnectorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateCredentials">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/ValidateCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryInfo">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/GetRepositoryInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntriesFromParent">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/GetEntriesFromParent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSGetDocumentFromDMOld">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSGetDocumentFromDMOld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSGetDocumentFromDM">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSGetDocumentFromDM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSDeleteDocument">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSDeleteDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFieldByName">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/UpdateFieldByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplateByName">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/UpdateTemplateByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplateByID">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/UpdateTemplateByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFieldByID">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/UpdateFieldByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSGetAllFields">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSGetAllFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSGetFieldsByTemplateName">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSGetFieldsByTemplateName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSGetFieldsByTemplateID">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSGetFieldsByTemplateID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSGetAllTemplates">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSGetAllTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDMImage">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSArchiveMeetingToDMImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDMImageAppend">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSArchiveMeetingToDMImageAppend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDM">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSArchiveMeetingToDM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDMImage_File">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSArchiveMeetingToDMImage_File" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDMImageAppend_File">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSArchiveMeetingToDMImageAppend_File" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSArchiveMeetingToDM_File">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSArchiveMeetingToDM_File" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSDeleteFile">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSDeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSUploadFileChunk">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSUploadFileChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSImportImagesFromFile">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSImportImagesFromFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSImportImagesFromFileAppend">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSImportImagesFromFileAppend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSAppendImagesFromFile">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSAppendImagesFromFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSImportEdocFromFile">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSImportEdocFromFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSDocumentLink">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/LSDocumentLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentExtensionByID">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/GetDocumentExtensionByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentEntryTypeByPath">
      <soap12:operation soapAction="http://mccinnovations.com/LSDMCWebService/GetDocumentEntryType" style="document" />
      <wsdl:input name="GetDocumentEntryType">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDocumentEntryType">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LSDocumentManagementConnector">
    <wsdl:port name="LSDocumentManagementConnectorSoap" binding="tns:LSDocumentManagementConnectorSoap">
      <soap:address location="http://laserfiche-us-qa-1.granicusops.com/LSDMC/LSDocumentManagementConnector.asmx" />
    </wsdl:port>
    <wsdl:port name="LSDocumentManagementConnectorSoap12" binding="tns:LSDocumentManagementConnectorSoap12">
      <soap12:address location="http://laserfiche-us-qa-1.granicusops.com/LSDMC/LSDocumentManagementConnector.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>